<html>
    <body>
        <p>
        A LOVE LETTER FROM T-SNUGS
        </p>
        
        <p>
        Dear {{adjectives.get()}} {{nouns.get()}} ,
        </p>
                <p>

        The {{adjectives.get()}} {{nouns.get()}} {{verbs.get()}}s over the {{adjectives.get()}} {{nouns.get()}}.

                </p><p>

        When {{adjectives.get()}} {{nouns.get()}} attack blue {{nouns.get()}}, then a dinosaur {{verbs.get()}} through the entire  {{nouns.get()}} and {{nouns.get()}}
        becomes {{adjectives.get()}}.
                </p><p>
        
        That is right! {{adjectives.get()}} {{nouns.get()}}. 
                </p><p>
        
        {{nouns.get()}} are so {{adjectives.get()}}.
                </p><p>
         
        Then, the {{adjectives.get()}} {{nouns.get()}} hit Kyle on the head. 
        Miles yelled at the {{adjectives.get()}} {{nouns.get()}} which then {{verbs.get()}}ed at Kyle.
                </p><p>
        
        Next year, the {{adjectives.get()}} {{nouns.get()}} will be our friends. It seems crazy, but it is {{adjectives.get()}}.
                </p><p>
        
        The moral of the story is {{adjectives.get()}} {{nouns.get()}} conquers {{nouns.get()}}. 
                </p><p>
        
        xoxo,
        T-Snugs
                </p>
        
    </body>
</html>